.form-content {
    display: flex;
    justify-content: space-between;
}

.sucess-message,
.error-message {
    padding: 5px 10px;
    margin-bottom: 20px;
    color: #ffff;
    display: block;
    border-radius: 5px;
}

.sucess-message {
    background-color: #5680FF;
}

.error-message {
    background-color: #ff4b4b;
}

.left-form,
.right-form {
    width: 45%;
}

.right-form {
    padding-top: 20px;
}

.main-form button {
    cursor: pointer;
    border: none;
    background-color: #5680FF;
    color: #fff;
    border-radius: 5px;
    padding: 14px 30px;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

@media(max-width: 767px) {
    .form-content {
        flex-direction: column;
    }

    .left-form,
    .right-form {
        width: 100%
    }

    .right-form {
        padding: 0;
    }
}