.form-content {
    display: flex;
    justify-content: space-between;
}

.sucess-message,
.error-message {
    padding: 5px 10px;
    margin-bottom: 20px;
    color: #ffff;
    display: block;
    border-radius: 5px;
}

.sucess-message {
    background-color: #5680FF;
}

.error-message {
    background-color: #ff4b4b;
}

.left-form,
.right-form {
    width: 45%;
}

.right-form {
    padding-top: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-container label {
    margin-bottom: 5px;
}

.input-container input,
.input-container textarea {
    padding: 10px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    outline-color: #5680FF;
}

.input-error-message {
    color: red;
    margin-top: 5px;
}

.main-form button {
    cursor: pointer;
    border: none;
    background-color: #5680FF;
    color: #fff;
    border-radius: 5px;
    padding: 14px 30px;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

@media(max-width: 767px) {
    .form-content {
        flex-direction: column;
    }

    .left-form,
    .right-form {
        width: 100%
    }

    .right-form {
        padding: 0;
    }
}

@media(max-width: 400px) {
    .input-container {
        margin-bottom: 15px;
    }
}