.form-content {
    display: flex;
    justify-content: space-between;
}

.left-form,
.right-form {
    width: 45%;
}

.right-form {
    padding-top: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-container label {
    margin-bottom: 5px;
}

.input-container input,
.input-container textarea {
    padding: 10px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    outline-color: #5680FF;
}

.input-error-message {
    color: red;
    margin-top: 5px;
}

.checkboxs-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.checkboxs-container {
    display: flex;
}

.checkbox-container{
    display: flex;
    margin-right: 20px;
}

.checkbox {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    cursor: pointer;
    margin-right: 10px;
}

.tags-container {
    display: flex;
    flex-direction: column;
}

.tag-row {
    display: flex;
}

.tag {
    padding: 10px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px 14px 5px 0;
    color: #BDBDBD;
    font-size: 15px;
}

.main-form button {
    cursor: pointer;
    border: none;
    background-color: #5680FF;
    color: #fff;
    border-radius: 5px;
    padding: 14px 30px;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

@media(max-width: 767px) {
    .form-content {
        flex-direction: column;
    }

    .left-form,
    .right-form {
        width: 100%
    }

    .right-form {
        padding: 0;
    }

    .tags-container {
        margin-bottom: 20px;
    }
}

@media(max-width: 400px) {
    .checkboxs-content {
        margin-bottom: 15px;
    }
    
    .checkboxs-container {
        flex-direction: column;
    }

    .checkbox-container {
        margin: 5px 0;
    }

    .input-container {
        margin-bottom: 15px;
    }

    .tag {
        padding: 7px;
        margin: 3px 8px 5px 0;
        font-size: 12px;
    }
}