.checkboxes-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.checkboxes-container {
    display: flex;
}

.checkbox-container{
    display: flex;
    margin-right: 20px;
}

.checkbox {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    cursor: pointer;
    margin-right: 10px;
}

.checkbox.check-selected{
    background-color: #5680FF;
    color: #ffff;
    border-color: #5680FF;
}

@media(max-width: 400px) {
    .checkboxes-content {
        margin-bottom: 15px;
    }
    
    .checkboxes-container {
        flex-direction: column;
    }

    .checkbox-container {
        margin: 5px 0;
    }
}